{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 96,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cn", "tv"],
  "tailwindAttributes": ["tw"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
